<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= link_to 'Show', article_path(article) %></td>
    <td><%= link_to 'Éditer l\'article', edit_article_path(article) %></td>
    <td><%= link_to 'Détruire', article_path(article),
                        method: :delete,
                        data: { confirm: 'Voulez vous vraiment supprimer cet article ?' } %></td>
  </tr>
  <% end %>
</table>

<p><%= link_to("Nouvel article", new_article_path) %></p>
